@tailwind base;
@tailwind components;

@layer components {
	:root {
		--bg-color: #060606;
	}

	#cards:hover > .card::after {
		@apply opacity-[1];
	}

	.card {
    transition: all 200ms ease-in-out 0s;
		@apply h-[180px] md:h-[220px] lg:h-[260px] flex cursor-pointer relative flex-col rounded-[12px] bg-[#ffffff0c]
	}

	.card:hover::before {
		@apply opacity-[1];
	}

	.card::before,
	.card::after {
    transition: opacity 400ms ease 0s;
		@apply w-full h-full top-0 left-0 opacity-0 absolute content-[''] rounded-[inherit];
	}

	.card::before {
		background: radial-gradient(
			800px circle at var(--mouse-x) var(--mouse-y),
			rgba(255, 255, 255, 0.06),
			transparent 40%
		);
		z-index: 3;
	}

	.card::after {
		background: radial-gradient(
			600px circle at var(--mouse-x) var(--mouse-y),
			rgba(255, 255, 255, 0.4),
			transparent 40%
		);
		z-index: 1;
	}

	.card > .card-content {
		@apply bg-[color:var(--bg-color)] rounded-[inherit] flex flex-col flex-grow-[1] inset-[1px] p-[10px] absolute z-[2];
	}

	.card-content-wrapper {
		@apply flex flex-col justify-between w-full my-auto overflow-hidden gap-2 md:gap-5
	}

	.card-img {
		@apply w-full max-w-[120px] md:max-w-[180px] lg:max-w-[240px] mx-auto
	}

	.card-desc {
		@apply flex flex-row justify-center max-w-[80%] mx-auto
	}

	.card-icon {
		@apply w-[16px] h-[16px] m-[0.1rem_0.5rem_0.5rem_0rem]
	}

	.card-desc-wrapper {
		@apply  flex flex-col gap-1 w-fit
	}

	.card-title {
		@apply text-slate-300 opacity-60 font-['Title'] text-sm
	}

	.card-message {
		@apply text-slate-300 opacity-50 font-['Desc'] text-xs hyphens-auto
	}

}

@tailwind utilities;

/* backdrop-filter: blur(12px);
-webkit-mask-image: linear-gradient(to bottom,black var(--header-height),transparent); */
